.App {
  text-align: center;
  
  
  /* background-image: url("https://firebasestorage.googleapis.com/v0/b/test1-81afe.appspot.com/o/texture_00070.jpg?alt=media&token=84da94be-d850-4338-bb2b-db33c0b21618");
  background-color: rgba(0,0,0,0.5); */
  /* background-size: cover; */

}

.App:focus {
  outline: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body , input , textarea , select {
  /* 入力欄にフォーカスが当たっても拡大しない */
  font-size:17px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.playbutton {
  display: none;
  width: 149px;
  height: 87px;
  /*padding: 10px 30px;*/
  font-size: 22px;
  margin: 10px 40px 10px 40px;
  /* background-color: #61dafb; */
  background-color: rgba(81, 241, 66, 0.6);
  box-shadow: 0 4px plum;
  border-radius: 4px;
}

.mainbutton{
  display: none;
  width: 298px;
  height: 179px;
  /*padding: 10px 30px;*/
  font-size: 44px;
  margin: 0 0 5px 0;
  /* background-color: #61dafb; */
  background-color: rgba(241, 111, 24, 0.6);
  box-shadow: 0 4px plum;
  border-radius: 4px;
}

.colorbutton{
  background-color: rgba(0,255,255,0.6);
}

.four-btn{
  width: 126px;
  height: 100px;
  /*padding: 10px 30px;*/
  font-size: 20px;
  margin: 5px 5px 5px 5px;
  /* background-color: #61dafb; */
  background-color: rgba(81, 241, 66, 0.6);
  box-shadow: 0 4px plum;
  border-radius: 4px;
}
.four-btn:hover{
  background-color: rgba(81, 241, 66, 1);
  cursor: pointer;
}

.four-btn:active{
  background-color: rgba(81, 241, 66, 1);
  box-shadow: none;
  position: relative;
  top: 4px;
}

.selection{
  display: inline;
}

.inl{
  display: inline;
}

@media(min-width: 571px){
  .four-btn{
    width: 126px;
    height: 126px;
    /*padding: 10px 30px;*/
    font-size: 20px;
    margin: 5px 5px 5px 5px;
    /* background-color: #61dafb; */
    background-color: rgba(156, 146, 247, 0.6);
    box-shadow: 0 4px plum;
    border-radius: 126px;
    outline: none;
    
  }
  .four-btn:hover{
    background-color: rgba(156, 146, 247, 1);
    cursor: pointer;
  }
  
  .four-btn:active{
    background-color: rgba(156, 146, 247, 1);
    box-shadow: none;
    position: relative;
    top: 4px;
  }

  .mainbutton:hover{
    background-color: rgba(241, 111, 24, 0.8);
    cursor: pointer;
  }
  
  .mainbutton:active{
    background-color: rgba(241, 111, 24, 0.8);
    box-shadow: none;
    position: relative;
    top: 4px;
  }

  .sel{
    display: none;
  }


}


@media(max-width: 570px){
  .pcl{
    display: none;
  }

  .four-btn{
    width: 47%;
    height: 220px;
    /*padding: 10px 30px;*/
    font-size: 24px;
    margin: 2px 2px 2px 2px;
    /* background-color: #61dafb; */
    background-color: rgba(81, 241, 66, 0.6);
    box-shadow: 0 4px plum;
    border-radius: 54px;
  }
  .four-btn:hover{
    background-color: rgba(81, 241, 66, 1);
    cursor: pointer;
  }
  
  .four-btn:active{
    background-color: rgba(81, 241, 66, 1);
    box-shadow: none;
    position: relative;
    top: 4px;
  }

  .playbutton{
    display: none;
    width: 126px;
    height: 100px;
    /*padding: 10px 30px;*/
    font-size: 16px;
    margin: 20px 20px 20px 20px;
    /* background-color: #61dafb; */
    background-color: rgba(81, 241, 66, 0.6);
    box-shadow: 0 4px plum;
    border-radius: 4px;
  }
  .colorbutton{
    background-color: rgba(0,255,255,0.6);
  }
  .colorbutton:hover{
    background-color: rgba(0,255,255,1);
  }
  .colorbutton:active{
    background-color: rgba(0,255,255,1);
  }
  .mainbutton{
    /* width: 292px; */
    width: 100%;
    height: 400px;
    /*padding: 10px 30px;*/
    font-size: 32px;
    margin: 0 0 5px 0;
    /* background-color: #61dafb; */
    background-color:  rgba(241, 111, 24, 0.6);
    box-shadow: 0 15px plum;
    border-radius: 20px;
  }
  .mainbutton:hover{
    background-color: rgba(241, 111, 24, 0.6);
    cursor: pointer;
  }
  .mainbutton:active{
    background-color: rgba(241, 111, 24, 0.6);
    box-shadow: none;
    position: relative;
    top: 15px;
  }
  .qrcode{
    display: none;
  }
}

.redline{
  color: blue;
}


.playbutton:hover{
  background-color: rgba(81, 241, 66, 1);
  cursor: pointer;
}

.playbutton:active{
  background-color: rgba(81, 241, 66, 1);
  box-shadow: none;
  position: relative;
  top: 4px;
}

.colorbutton:hover{
  background-color: rgba(0,255,255,1);
}
.colorbutton:active{
  background-color: rgba(0,255,255,1);
}

.sendbutton{
  padding: 5px;
  margin-bottom: 0px;
  
  background-color: rgb(228, 223, 155);
  border-radius: 24px;
  outline: none;
  box-shadow: 0 4px plum;
}
.sendbutton:hover{
  background-color: rgba(228, 223, 155, 0.6);
  cursor: pointer;

}
.sendbutton:active{
  background-color: rgba(228, 223, 155, 0.6);
  box-shadow: none;
  position: relative;
  top: 4px;
}

.high-light{
  font-weight: bold;
  color: blue;
}

.log-btn{
  background-color: #85692d;
}

.bottom-margin{
  height: 50px;
}

.enter-btn{
  width: 30%;
  height: 90px;
  margin: 20px;
  font-size: 22px;
}

.random-btn{
  background-color: rgb(43, 241, 69);
  border-radius: 4px;
  box-shadow: 0 4px plum;
  
}
.random-btn:hover{
  background-color: rgba(61, 248, 86, 0.8);
  cursor: pointer;
}
.random-btn:active{
  background-color: rgba(61, 248, 86, 0.9);
  box-shadow: none;
  position: relative;
  top: 4px;
}

.create-btn{
  background-color: black;
}

.redchar{
  color: red;
}

.smallchar{
  font-size: 12px;
}